*{
    margin:0;
    padding:0;
}
header{
    margin-top:20px;
    line-height:35px;
    text-align: center;
}
header p{
    color: rgb(57, 56, 56);
}
main{
    padding:30px 100px 100px 100px;
}
.card{
    height:410px;
    width:280px;
    border:1px solid rgb(184, 183, 183);
    border-radius:5px;
    transition: 0.5s;
}
.card:hover{
    transform: translateY(-7px);
    box-shadow: 0px 10px 10px black;
}
.cardimg img{
    object-fit:cover;
}
.cardimg{
    transition:all 3s linear 1s;
}
.cardimg img:hover{
    transform:scale(0.95);
}
.cardesc{
    padding:10px;
}
.cardesc h2{
    font-size:20px;
    line-height:30px;
}
.cardcontent a{
    text-decoration: none;
    color:rgb(43, 42, 42);
}
.cardfooter{
   
    display: flex;
    justify-content: space-evenly;
    
}
.authorinfo{
    display:flex;
    flex-direction:column;
    padding-right:55px;
}
.authorinfo span{
    font-size:13px;
}
.authorinfo .authorname{
    color:blue;
}
.avatar img{
    background-color:rgb(180, 178, 178);
    border-radius:50%;
}
main{
    display: grid;
    grid-template-columns:repeat(4,1fr);
    grid-template-rows:repeat(2,1fr);
    row-gap:25px;
}
.button{
    padding:5px 5px 0 5px;
    border:1px solid rgb(183, 181, 181);
    border-radius:5px;
}
.button span{
    font-size:15px;
}
@media only screen and (max-width:1428px){
    main{
        justify-items: center;
        grid-template-columns:repeat(2,1fr);
        grid-template-rows:repeat(4,1fr);
        column-gap:0px;
    } 
}
@media only screen and (max-width:787px){
    main{
        justify-items: center;
        grid-template-columns:repeat(1,1fr);
        grid-template-rows:repeat(8,1fr);  
    } 
}


